header {
   background: -moz-radial-gradient(center, ellipse cover, rgb(182,243,243), rgb(39,222,222));
   height: 60px; /* Висота шапки */
   border:  1.5px solid blue
   }
input{
	width: 350px;
	text-align: center;
	font-size: 16px;
	border: 1.5px solid blue;
}
#button_find {
border-radius: 2px;
border: 1.5px solid blue;
width: 80px;
color: blue;
background: rgb(213,234,255);
}
section{
	text-align: center;
}
h2{
	color: rgb(0,102,204);
}
caption{
font-size: 26px;
font-style: strong;
color: rgb(0,102,204);
}

#thed{
	margin: auto;
	width: 340px;
	height: 20px;
}
#tweather{
margin: auto;
border: 1px solid blue;
width: 1200px;
}
#tcol1{ /*стиль першого стобчика таблиці погоди */
border-color: rgba(213,234,255,0.5);
width: 200px;
}
th{
background-color: rgba(213,234,255,0.8);
}
tr{
height: 50px;
}
td{
text-align: center;
}
footer{
	
}
